<h3><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:Legend" />:</h3>
<div class="beuser-legend">
    <table>
        <tr>
            <td nowrap="nowrap" class="edge"><span><span></span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap"><span class="number">1</span></td>
            <td nowrap="nowrap"><strong><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:1" /></strong>: <f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:1_t" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap" class="vr"><span></span></td>
            <td nowrap="nowrap" class="edge"><span><span></span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap"><span class="number">2</span></td>
            <td nowrap="nowrap"><strong><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:16" /></strong>: <f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:16_t" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap" class="vr"><span></span></td>
            <td nowrap="nowrap" class="vr"><span></span></td>
            <td nowrap="nowrap" class="edge"><span><span></span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap"><span class="number">3</span></td>
            <td nowrap="nowrap"><strong><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:2" /></strong>: <f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:2_t" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap" class="vr"><span></span></td>
            <td nowrap="nowrap" class="vr"><span></span></td>
            <td nowrap="nowrap" class="vr"><span></span></td>
            <td nowrap="nowrap" class="edge"><span><span></span></span></td>
            <td nowrap="nowrap" class="hr"><span></span></td>
            <td nowrap="nowrap"><span class="number">4</span></td>
            <td nowrap="nowrap"><strong><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:4" /></strong>: <f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:4_t" /></td>
        </tr>
        <tr>
            <td nowrap="nowrap"><core:icon identifier="status-status-permission-granted" /></td>
            <td nowrap="nowrap"><core:icon identifier="status-status-permission-denied" /></td>
            <td nowrap="nowrap"><core:icon identifier="status-status-permission-granted" /></td>
            <td nowrap="nowrap"><core:icon identifier="status-status-permission-denied" /></td>
            <td nowrap="nowrap"><core:icon identifier="status-status-permission-denied" /></td>
            <td nowrap="nowrap"><span class="number">5</span></td>
            <td nowrap="nowrap"><strong><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:8" /></strong>: <f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:8_t" /></td>
        </tr>
    </table>
</div>
<p><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:def" /></p>
<p>
    <core:icon identifier="status-status-permission-granted" /> <f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:A_Granted" /><br/>
    <core:icon identifier="status-status-permission-denied" /> <f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang_mod_permission.xlf:A_Denied" />
</p>
